blinker
certifi
charset-normalizer
click
colorama
faiss-cpu
filelock
Flask
Flask-Cors
fsspec
huggingface-hub
idna
itsdangerous
Jinja2
joblib
MarkupSafe
mpmath
networkx
numpy
packaging
pandas
pillow
python-dateutil
pytz
PyYAML
regex
requests
safetensors
scikit-learn
scipy
sentence-transformers
setuptools
six
sympy
threadpoolctl
tokenizers
torch
tqdm
transformers
typing_extensions
tzdata
urllib3
Werkzeug
gunicorn
